* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #363636;
  --text-color: #1a1a1a;
  --main-color: #0070d1;
  --other-color: #363636;
  --h1-font: 6rem;
  --p-font: 1rem;
}

body {
  background-color: #f8f9ff !important;
  color: var(--text-color);
}

/* home style */
.home {
  padding: 0 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  z-index: 3;
}

.home-text h1 {
  font-size: var(--h1-font);
  line-height: 1.2;
  margin-bottom: 2px;
}

.home-text h5 {
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 1rem;
}

.home-img img {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  filter: drop-shadow(1px 3px 100px rgba(218, 209, 209, 0.4));
}

.home-btn {
  display: inline-block;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  transition: all 0.55s ease;
  margin-bottom: 30px;
}

.home-btn:hover {
  background: #b1d8fa;
  font-size: 17px;
  color: #1d2631;
  font-weight: 1000;
}

.carousel-inner {
  height: calc(100vh - 60px) !important;
}

/* gallery style */
.gallery-pic {
  margin-top: 60px;
  background-image: url(../image/back-img/galery-back.jpg);
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 70vh;
}
.categorie-gallery {
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
  gap: 4px;
}
.cat_box {
  border: solid var(--main-color) 1.5px;
  cursor: pointer;
  height: 30px;
  min-width: 150px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
  width: auto;
  margin: 2px 5px;
}
.cart_Box {
  justify-content: center !important;
}
.cart_type {
  text-align: center;
  align-items: center;
}
a:hover {
  text-decoration: none;
  text-decoration: none;
}
h6 {
  margin: 0px !important;
}
.cat_box:hover,
.cat_box.active {
  background: #b1d8fa;
}
.categorie-gallery .cat_box_icon {
  color: var(--bg-color);
  display: flex;
}

.categorie-gallery .cat_type {
  color: var(--bg-color);
  display: flex;
  align-items: center;
}
.categorie-gallery a svg {
  font-size: 10px;
  margin-right: 5px;
  margin-left: 1px;
  color: var(--main-color) !important;
}
.ajouter_cat {
  display: flex;
  align-items: center;
}
.menu .menu-content .add-cart-one {
  text-align: center;
  padding: 25% 0;
  font-size: 200px;
}

/* item style */
.menu {
  padding: 0 50px;
}
.menu .mainText h2 {
  color: red;
  font-weight: 400;
  font-size: 50px;
  line-height: 141.5%;
  text-align: left;
}

.menu .mainText p {
  color: #84813b;
  font-size: 17px;
  opacity: 0.8;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  align-items: flex-start;
  margin-top: 4rem;
  cursor: pointer;
}
.add_prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add_prod i {
  cursor: pointer;
}
.add_prod h2 a {
  font-size: 30px;
  color: var(--main-color);
}
.add_produit_box {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.add_produit_form {
  width: 550px;
  border: solid #101113;
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
}
.imgandprice {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 20%;
}
.add_produit_form label {
  margin: 5px 5%;
}
.add_produit_form label input {
  width: 90%;
}
.add_image_image {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roW img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  aspect-ratio: 1;
  object-fit: cover;
}
label {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
label svg {
  margin-bottom: 20px;
}
input#add_img_input {
  display: none;
}

.roW {
  transition: all 0.38s ease;
}

.menu-left h4 {
  font-size: 23px;
}

.menu-right h5 {
  color: red;
  font-size: 14px;
}

.roW p {
  color: #84813b;
  font-size: 13px;
  list-style: 30px;
  margin-bottom: 15px;
}

.menu-text {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 15px 0;
}

.start i {
  color: red;
  opacity: 0.5;
  font-size: 17px;
  margin-right: 4px;
}

.start i:hover {
  color: red;
  opacity: 1;
  font-size: 17px;
  margin-right: 4px;
}

.roW:hover {
  transform: scale(1.04);
  filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.2));
}

.foteerPlat {
  display: flex;
  justify-content: flex-end;
}
.bxs-edit {
  margin-right: 5px;
}

.foteerPlat .addPlat .bxs-edit,
.foteerPlat .addPlat .bxs-trash-alt {
  color: #ff3d00;
}

.foteerPlat .addPlat .bxs-edit:hover,
.foteerPlat .addPlat .bxs-trash-alt:hover {
  color: green;
}
/* feature */
#feature{
  padding: 40px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,180px);
  justify-content: center;
  gap: 1rem;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7de;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70,62, 221, 0.1);
}
#feature .fe-box img{
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  margin-bottom: 10px;
}
#feature .fe-box h6{
display: inline-bloc;
Padding: 9px 8px 6px 8px;
line-height: 1;
border-radius: 4px;
color:#77365f;
background-color: #a5e7ea;
}
/* to contact */

.mainToContact {
  margin: 30px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  /* gap: 10%; */
}

.mainToContact .mainToContactImg {
  width: 100%;
  height: auto;
}

.mainToContact .mainToContactImg img {
  width: 100%;
  height: 300px;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.mainToContact .blabla a {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.mainToContact .blabla h2 {
  text-align: center;
  font-size: 40px;
}

.mainToContact .blabla a button {
  color: white;
  background-color: var(--main-color);
  transition: all 0.38s ease;
  border-radius: 20px;
  align-items: center;
  margin-top: 10px;
  border: 5px;
  width: 110px;
  height: 30px;
}

.mainToContact .blabla a button:hover {
  color: #151d53;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.5));
}
/* manadger section */
.manadger img {
  width: 100%;
}
.manadger {
  display: grid;
  grid-template-columns: repeat(auto-fit, ninmax(auto, 200px));
  gap: 5px;
}

@media (max-width: 1740px) {
  header {
    padding: 14px 2%;
  }
}

@media (max-width: 1625px) {
  :root {
    --h1-font: 5rem;
  }
}

@media (max-width: 1440px) {
  :root {
    --h1-font: 4rem;
  }
}

@media (max-width: 1150px) {
  main {
    padding: 0 6%;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 60px 18%;
  }
  .home-text h1 {
    margin-top: 200px !important;
  }
  :root {
    --h1-font: 3.5rem;
  }
  .home-text h5 {
    margin-bottom: 40px;
  }
  .home {
    height: auto;
    grid-template-columns: 1fr;
  }
  .home-text,
  .home-img {
    text-align: center;
  }
  .home-btn {
    padding: 10px 30px;
    font-size: 14px;
  }
  .home-btn:hover {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 100px 18%;
  }
  :root {
    --h1-font: 2.1rem;
  }
  .home {
    height: auto;
  }
}

@media (max-width: 890px) {
  .home-text h5 {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .manadger img {
    margin-bottom: 22px;
  }
}
