* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #101113;
    --text-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 6rem;
    --p-font: 1rem;
}

body{
    /* background: radial-gradient(#f9d349, 20%, #d57e12); */
    /* background-color: var(--bg-color); */
    background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d2631 100%);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    transition: all .55s ease;
    /* background: rgb(82, 82, 82); */
}

/* header a svg {
    width: ;
} */

nav ul {
    display: flex;
}

nav a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: all .55s ease;
}

nav a:hover {
    color: var(--main-color);
}

nav a.active {
    color: var(--main-color);
}

.header-icon {
    display: flex;
    align-items: center;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    transition: all .55s ease;
}

.header-icon i {
    margin-right: 2px;
    font-size: 28px;
    cursor: pointer;
    transition: all .55s ease;
}

.header-icon i:hover {
    transform: translateY(-5px);
    color: var(--main-color)
}






/* home style */

.home {
    padding: 0 15%;
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5 {
    color: #ffffff99;
    font-weight: 400;
    margin-bottom: 60px;
    font-size: 1rem;
}

.home-img img {
    margin-top: 60px;
    height: 100%;
    width: 100%;
    filter: drop-shadow(1px 3px 100px rgba(218, 209, 209, 0.4));
}

.home-btn {
    display: inline-block;
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    transition: all .55s ease;
}

.home-btn:hover {
    background: var(--text-color);
    font-size: 17px;
    color: #1d2631;
    font-weight: 1000;
}

@media (max-width : 1740px) {
    header {
        padding: 14px 2%;
    }
}

@media (max-width : 1625px) {
    :root {
        --h1-font: 5rem;
    }
}

@media (max-width : 1440px) {
    :root {
        --h1-font: 4rem;
    }
}

@media (max-width : 1150px) {
    main {
        padding: 0 6%;
    }
}

@media (max-width: 1000px) {
    main {
        margin-top: 100px;
        padding: 60px 18%;
    }
    :root {
        --h1-font: 3.5rem;
    }
    .home-text h5{
        margin-bottom: 40px;
    }
    .home {
        height: auto;
        grid-template-columns: 1fr;
    }
    .home-text,
    .home-img {
        text-align: center;
    }
    .home-btn {
        padding: 10px 30px;
        font-size: 14px;
    }
    .home-btn:hover {
        font-size: 15px;
    }
}

@media (max-width: 890px) {
    .nav-bar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 100vh;
        padding: 27% 40px;
        background: var(--main-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .home-text h5{
        margin-bottom: 30px;
    }
    .nav-bar a{
        display: block;
        margin: 30% 0;
        transition: all .45s ease;
    }
    .nav-bar a:hover{
        transform: translateY(5px);
        color: var(--bg-color);
    }
    .nav-bar a.active{
        color: var(--bg-color);
    }
    .nav-bar.open{
        right: 2%;
    }
}
@media (max-width: 1000px) {
    main {
        padding: 100px 18%;
    }
    :root {
        --h1-font: 2.1rem;
    }
    .home{
        height: auto;
    }
}