* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #363636;
  --text-color: #1a1a1a;
  --main-color: #0070d1;
  --other-color: #363636;
  --h1-font: 6rem;
  --p-font: 1rem;
}

body {
  /* background: radial-gradient(#f9d349, 20%, #d57e12); */
  /* background-color: var(--bg-color); */
  /* background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d2631 100%); */
  /* background-color: #dadbd9; */
  color: var(--text-color);
}

/* header start */

header {
  display: flex;
  height: 60px;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}
nav li {
  padding: 0 20px;
  position: relative;
}
nav li a {
  color: var(--text-color);
  transition: 0.3 ease;
}
nav li a:hover,
nav li a.active{
  color: var(--main-color);
}
nav li a:hover::after,
nav li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* home section */

/* hero */
#hero{
  padding: 0 15%;
  position: relative;
  width: 100%;
  height: calc(100vh - 60px) !important;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
#hero img {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  filter: drop-shadow(1px 3px 100px rgba(218, 209, 209, 0.4));
}
#hero h4 {
  padding-bottom: 15px;
}
  
#hero h4{
  color: var(--main-color)
}
.home-text h1 {
  font-size: var(--h1-font);
  line-height: 1.2;
  margin-bottom: 2px;
}

.home-text h5 {
  color: #ffffff99;
  font-weight: 400;
  margin-bottom: 60px;
  font-size: 1rem;
}
#hero {
  padding: 0 15%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home-text h1 {
  font-size: var(--h1-font);
  line-height: 1.2;
  margin-bottom: 2px;
}

.home-text h5 {
  color: #ffffff99;
  font-weight: 400;
  margin-bottom: 60px;
  font-size: 1rem;
}

.home-img img {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  filter: drop-shadow(1px 3px 100px rgba(218, 209, 209, 0.4));
}

.home-btn {
  display: inline-block;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  transition: all 0.55s ease;
}

.home-btn:hover {
  background: var(--text-color);
  font-size: 17px;
  color: #1d2631;
  font-weight: 1000;
}


