* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #363636;
  --text-color: #1a1a1a;
  --main-color: #0070d1;
  --other-color: #363636;
  --h1-font: 6rem;
  --p-font: 1rem;
}

body {
  /* background: radial-gradient(#f9d349, 20%, #d57e12); */
  /* background-color: var(--bg-color); */
  /* background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d2631 100%); */
  /* background-color: #dadbd9; */
  color: var(--text-color);
}

/* header start */

header {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #e3e6f3;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.55s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}
nav li {
  padding: 0 20px;
  position: relative;
}
nav li a {
  color: var(--text-color);
  transition: 0.3 ease;
}
nav li a:hover,
nav li a.active {
  color: var(--main-color);
}
nav li a:hover::after,
nav li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-nav i {
  color: var(--text-color);
  transition: 0.3 ease;
  margin-left: 10px;
}
.right-nav i:hover,
.right-nav i.active {
  color: var(--main-color);
}
.loginD .nam {
  padding: 0 2px;
  font-size: 12px;
}
.loginD li i {
  margin-right: 2px;
  margin-left: 0px;
  color: var(--bg-color);
}
.loginD a {
  font-size: 12px;
  padding: 0;
  color: var(--main-color);
}
.loginD{
  margin-left: 0;
}
.loginD {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 30px;
}
#menU{
  display: none;
  cursor: pointer;
}
.open{
  right: 0px;
}

/*  alert */
.alert_box{
  background-color: #e9ecf6;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  color: var(--text-color);
  transition: 0.3 ease;
  width: 350px;
  height: 100px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

@media (max-width: 799px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.55s ease;
  }
  nav li {
    margin-bottom: 25px;
  }
  nav {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
    z-index: 99;
    position: fixed;
    top: 60px;
    right: -300px;
    height: calc(100vh - 60px);
    width: 300px;
    background-color: #ebedf4;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.25);
    padding: 80px 0 0 10px;
    transition: all 0.55s ease;
  }
  #menU{
    display: block;
  }
}
