* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #363636;
  --text-color: #1a1a1a;
  --main-color: #0070d1;
  --other-color: #363636;
  --h1-font: 6rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
}

/* header start */
header {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #e3e6f3;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.55s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}
nav li {
  padding: 0 20px;
  position: relative;
}
nav li a {
  color: var(--text-color);
  transition: 0.3 ease;
}
nav li a:hover,
nav li a.active {
  color: var(--main-color);
}
nav li a:hover::after,
nav li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-nav i {
  color: var(--text-color);
  transition: 0.3 ease;
  margin-left: 10px;
}
.right-nav i:hover,
.right-nav i.active {
  color: var(--main-color);
}
.loginD .nam {
  padding: 0 2px;
  font-size: 12px;
}
.loginD li i {
  margin-right: 2px;
  margin-left: 0px;
  color: var(--bg-color);
}
.loginD a {
  font-size: 12px;
  padding: 0;
  color: var(--main-color);
}
.loginD {
  margin-left: 0;
}
.loginD {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 30px;
}
#menU {
  display: none;
  cursor: pointer;
}
.open {
  right: 0px;
}

/* footer section */
.mainFooter {
  padding: 5%;
  padding-bottom: 0;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-content: center;
}

.mainFooter h4 {
  width: 80%;
  font-size: 20px;
  color: #151d53;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  border-top: 1px solid #a5e7ea;
}

.weAre {
  margin-top: 10px;
  border-top: 1px solid #a5e7ea;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.weAre .logo{
  margin-top: 20px;
}

.weAre h6 {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: gray;
  opacity: 0.8;
}

.mainFooter li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  transition: all 0.38s ease;
}

.mainFooter li:hover {
  transform: translateX(10px);
  color: #a5e7ea;
}

.lastText i {
  color: gray;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.lastText a {
  color: gray;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lastText p {
  text-align: center;
  margin: 0;
  padding: 25px;
  font-size: 13px;
  color: #77365f;
  letter-spacing: 1px;
  opacity: 0.7;
}

.sctrooL {
  cursor: pointer;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
}

.sctrooL i {
  padding: 8px;
  font-size: 1.4rem;
  color: #a5e7ea;
  opacity: 0.7;
}

.sctrooL i:hover {
  opacity: 1;
}

@media (max-width: 799px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.55s ease;
  }
  nav li {
    margin-bottom: 25px;
  }
  nav {
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: fixed;
    top: 61.9px;
    right: -300px;
    height: calc(100vh - 60px);
    width: 300px;
    background-color: #ebedf4;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.25);
    padding: 80px 0 0 10px;
    transition: all 0.55s ease;
  }
  #menU {
    display: block;
  }
}
@media (max-width: 412px) {
  .loginD {
    display: none;
  }
}
